.offer-1 {
    background-color: white;
    border-radius: 10px;
     /* padding: 10px; */
     border: 5px solid rgb(252, 216, 16);
}

body {
    background-color: rgb(90, 87, 87);
}

.offer-2 {
    background-color: white;
    border-radius: 10px;
     /* padding: 10px; */
     border: 5px solid rgb(178, 170, 170) ;
}

.offer-3 {
    background-color: white;
    border-radius: 10px;
    /* padding: 10px; */
    border: 5px solid lightseagreen;
}

.offer-wrapper {
    display: flex;
    gap: 60px;
    justify-content: center;
    font-size: large;
    height: 650px;
    margin-top: 30px;
}

h1 {
    text-align: center;
    margin: 0px;
    background-color: lightgray;
    border-radius:10px 10px 0px 0px;

}